//colors
$dark: #27272A;
$black: #000;
$white: #fff;
$lightgray: #828183;
$gray: #D3D3D3;
$green: #00A44E;
$lemonchiffon: #949175;
$khaki: #F0E68C;
$lemonchiffon2: #CDC9A5;

//font sizes
$font-sm: 0.875rem;
$font-med: 1.4rem; //1.125
$font-lrg: 2rem;
$font-xxl: 7vw;